[submodule "third_party/amtl"]
	path = third_party/amtl
	url = https://github.com/alliedmodders/amtl
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
