.header-link {
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.header-link > a {
	color: #563D7C;
}

.sub-header {
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.sub-header2 {
	padding-top: 10px;
}

.file > a {
	color: #999;
}

.file > a:hover {
	color: #563D7C;
}

pre, code {
	font-size: 14px;
	border: 0;
}

pre.description {
	background: none;
	margin: 0;
	padding: 0;
}

pre.syntax {
	display: inline-block;
	padding: 6px 8px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	border: 0;
}

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

.nav-functions {
	display: none;
}

.nav-functions .panel-sidebar {
	padding: 15px 0;
}

.nav-sidebar > li > a {
	padding: 0 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.permalink {
	color: #FFF;
}

.permalink:hover {
	color: #F5F7FA;
}

.panel-info > .panel-heading > .permalink {
	color: #31708F;
}

.panel:target {
	border-color: #faebcc;
}

.panel:target > .panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.container-fluid {
	padding: 20px;
}

.footer {
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
}

@media (min-width: 768px) {
	body {
		margin-left: 300px;
	}
	
	.container-fluid {
		padding-right: 40px;
		padding-left: 40px;
	}
	
	.sidebar {
		position: fixed;
		top: 0px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		width: 300px;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/**
 * NProgress - http://ricostacruz.com/nprogress
 */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	  -ms-transform: rotate(3deg) translate(0px, -4px);
	      transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	      animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/**
 * typeahead.js
 * https://github.com/twitter/typeahead.js
 */
.twitter-typeahead {
	width: 100%;
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	width: 100%;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
	cursor: pointer;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}

.tt-name {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}
